In [80]:
import pandas as pd

import_og = pd.read_excel('Avon_Data.xlsx')
import_10k = pd.read_excel('Avon_Data_virtual_walker_10k.xlsx')
import_1m = pd.read_excel('Avon_Data_virtual_walker_1m.xlsx')

#original data
df_og = pd.DataFrame(import_og)
#all 392 virtual walkers got a random amount from 2k-10k
df_10k = pd.DataFrame(import_10k)
##all 392 virtual walkers got a random amount from 500k-1M
df_1m = pd.DataFrame(import_1m)

In [81]:
#editing a bit for readability
df_og=df_og[df_og['Year']!= 2009]
df_og=df_og[df_og['Year']!= 2017]
df_og=df_og[['Year', 'City', 'Classification', 'Walk_Status', 'Total_Raised_Master']]

df_10k=df_10k[df_10k['Year']!= 2009]
df_10k=df_10k[df_10k['Year']!= 2017]
df_10k=df_10k[['Year', 'City', 'Classification', 'Walk_Status', 'Total_Raised_Master']]

df_1m=df_1m[df_1m['Year']!= 2009]
df_1m=df_1m[df_1m['Year']!= 2017]
df_1m=df_1m[['Year', 'City', 'Classification', 'Walk_Status', 'Total_Raised_Master']]

In [88]:
#mean amount is 18$
df_og.loc[df_og['Classification'] == 'Virtual Walker'].describe()

         Year  Total_Raised_Master
count   392.0           392.000000
mean   2016.0            18.544898
std       0.0           108.322781
min    2016.0             0.000000
25%    2016.0             0.000000
50%    2016.0             0.000000
75%    2016.0             6.500000
max    2016.0          1600.000000

In [90]:
#mean amount for virtual walkers is $6k
df_10k.loc[df_10k['Classification'] == 'Virtual Walker'].describe()

         Year  Total_Raised_Master
count   392.0           392.000000
mean   2016.0          5955.964286
std       0.0          2270.157980
min    2016.0          2054.000000
25%    2016.0          4060.750000
50%    2016.0          5887.000000
75%    2016.0          7853.000000
max    2016.0          9993.000000

In [91]:
#mean amount for virtual walkers is $750k
df_1m.loc[df_1m['Classification'] == 'Virtual Walker'].describe()

         Year  Total_Raised_Master
count   392.0           392.000000
mean   2016.0        752168.714286
std       0.0        153788.179573
min    2016.0        500980.000000
25%    2016.0        612348.250000
50%    2016.0        747816.000000
75%    2016.0        897129.500000
max    2016.0        998854.000000

In [95]:
from ols_regression import ols_regression
from more_results import extend_results

#r-value is .14 for original data
hot_df_og=extend_results(df_og,'Total_Raised_Master', OneHotEncoder=True)
ols_regression(hot_df_og, 'Total_Raised_Master')

,Feature,R-squared,Adj. R-squared,F-statistic,Log-Likelihood,Akaike,Bayesian
1,Total_Raised_Master,1.00,1.00,24333830519501737713172583163101184.00,3871074.18,-7742146.36,-7742136.38
6,result_raw,1.00,1.00,24333830519501737713172583163101184.00,3871074.18,-7742146.36,-7742136.38
8,result_L2_norm,1.00,1.00,137717170306273729893749546438098944.00,4009282.47,-8018562.94,-8018552.96
9,result_minmaxscaler,1.00,1.00,4270292927284776943144304612737024.00,3732319.64,-7464637.29,-7464627.31
7,result_scaler,0.68,0.68,338152.17,-1396219.41,2792440.81,2792450.79
10,result_dummy,0.61,0.61,246698.74,-1412411.49,2824824.97,2824834.95
5,result_binary,0.42,0.42,116171.12,-1443322.46,2886646.93,2886656.91
0,Year,0.32,0.32,75201.23,-1456153.04,2912308.08,2912318.06
2,City,0.24,0.24,49190.56,-1465520.10,2931042.21,2931052.19
3,Classification,0.14,0.14,25308.90,-1475211.86,2950425.72,2950435.70
4,Walk_Status,0.00,0.00,63.36,-1486925.56,2973853.11,2973863.09

In [98]:
#r-value is still .14 for original data
hot_df_10k=extend_results(df_10k,'Total_Raised_Master', OneHotEncoder=True)
ols_regression(hot_df_10k, 'Total_Raised_Master')

,Feature,R-squared,Adj. R-squared,F-statistic,Log-Likelihood,Akaike,Bayesian
1,Total_Raised_Master,1.00,1.00,2127996413692338489984515376676864.00,3675708.88,-7351415.77,-7351405.79
6,result_raw,1.00,1.00,2127996413692338489984515376676864.00,3675708.88,-7351415.77,-7351405.79
8,result_L2_norm,1.00,1.00,42782430640619469471384658071519232.00,3914990.86,-7829979.73,-7829969.75
9,result_minmaxscaler,1.00,1.00,18459411289345640574731721000353792.00,3847968.94,-7695935.87,-7695925.89
7,result_scaler,0.68,0.68,335450.36,-1397728.37,2795458.73,2795468.71
10,result_dummy,0.61,0.61,251587.72,-1412532.32,2825066.63,2825076.61
5,result_binary,0.42,0.42,116933.63,-1444177.06,2888356.11,2888366.09
0,Year,0.32,0.32,75810.16,-1457021.27,2914044.54,2914054.52
2,City,0.24,0.24,50326.74,-1466161.97,2932325.95,2932335.93
3,Classification,0.14,0.14,26692.58,-1475691.86,2951385.72,2951395.70
4,Walk_Status,0.00,0.00,62.51,-1488000.84,2976003.69,2976013.67

In [97]:
#all r-values dropped but classification didnt and on the top
hot_df_1m=extend_results(df_1m,'Total_Raised_Master', OneHotEncoder=True)
ols_regression(hot_df_1m, 'Total_Raised_Master')

,Feature,R-squared,Adj. R-squared,F-statistic,Log-Likelihood,Akaike,Bayesian
1,Total_Raised_Master,1.00,1.00,8974049076968117466685438343249920.00,3369874.67,-6739747.33,-6739737.35
6,result_raw,1.00,1.00,8974049076968117466685438343249920.00,3369874.67,-6739747.33,-6739737.35
8,result_L2_norm,1.00,1.00,1045673972148823313504264565817344.00,3198469.23,-6396936.46,-6396926.48
9,result_minmaxscaler,1.00,1.00,2743666269877889513707408440950784.00,3275384.76,-6550767.52,-6550757.54
7,result_scaler,0.99,0.99,20116752.65,-1522271.87,3044545.73,3044555.71
10,result_dummy,0.03,0.03,5414.82,-1905955.67,3811913.33,3811923.31
3,Classification,0.02,0.02,2592.73,-1907332.19,3814666.38,3814676.36
0,Year,0.01,0.01,1266.26,-1907987.50,3815977.01,3815986.99
2,City,0.01,0.01,1694.27,-1907775.47,3815552.93,3815562.91
5,result_binary,0.01,0.01,1663.91,-1907790.49,3815582.98,3815592.96
4,Walk_Status,0.00,-0.00,0.32,-1908617.98,3817237.96,3817247.94

In [99]:
import_top_100 = pd.read_excel('Avon_Data_VW_top_100_donors.xlsx')
import_top_200 = pd.read_excel('Avon_Data_VW_top_200_donors.xlsx')

#converted the top 100 donor into virtual walkers
df_top_100 = pd.DataFrame(import_top_100)
#converted the top 200 donor into virtual walkers
df_top_200 = pd.DataFrame(import_top_200)

In [102]:
df_top_100=df_top_100[df_top_100['Year']!= 2009]
df_top_100=df_top_100[df_top_100['Year']!= 2017]
df_top_100=df_top_100[['Year', 'City', 'Classification', 'Walk_Status', 'Total_Raised_Master']]

df_top_200=df_top_200[df_top_200['Year']!= 2009]
df_top_200=df_top_200[df_top_200['Year']!= 2017]
df_top_200=df_top_200[['Year', 'City', 'Classification', 'Walk_Status', 'Total_Raised_Master']]

In [103]:
#mean donated is nearly 10k
df_top_100.loc[df_top_100['Classification'] == 'Virtual Walker'].describe()

              Year  Total_Raised_Master
count   492.000000           492.000000
mean   2015.467480          9832.882439
std       1.342157         27751.753456
min    2010.000000             0.000000
25%    2016.000000             0.000000
50%    2016.000000             5.000000
75%    2016.000000            30.000000
max    2016.000000        385074.470000

In [104]:
#mean donated is nearly 12k
df_top_200.loc[df_top_200['Classification'] == 'Virtual Walker'].describe()

              Year  Total_Raised_Master
count   592.000000           592.000000
mean   2015.114865         11603.969899
std       1.678060         25610.784888
min    2010.000000             0.000000
25%    2015.000000             0.000000
50%    2016.000000            10.000000
75%    2016.000000         20245.800000
max    2016.000000        385074.470000

In [107]:
#original data .14 r-value
hot_df_og=extend_results(df_og,'Total_Raised_Master', OneHotEncoder=True)
ols_regression(hot_df_og, 'Total_Raised_Master')

/Applications/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:321: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Applications/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:356: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

,Feature,R-squared,Adj. R-squared,F-statistic,Log-Likelihood,Akaike,Bayesian
1,Total_Raised_Master,1.00,1.00,24333830519501737713172583163101184.00,3871074.18,-7742146.36,-7742136.38
6,result_raw,1.00,1.00,24333830519501737713172583163101184.00,3871074.18,-7742146.36,-7742136.38
8,result_L2_norm,1.00,1.00,137717170306273729893749546438098944.00,4009282.47,-8018562.94,-8018552.96
9,result_minmaxscaler,1.00,1.00,4270292927284776943144304612737024.00,3732319.64,-7464637.29,-7464627.31
7,result_scaler,0.68,0.68,338152.17,-1396219.41,2792440.81,2792450.79
10,result_dummy,0.61,0.61,246698.74,-1412411.49,2824824.97,2824834.95
5,result_binary,0.42,0.42,116171.12,-1443322.46,2886646.93,2886656.91
0,Year,0.32,0.32,75201.23,-1456153.04,2912308.08,2912318.06
2,City,0.24,0.24,49190.56,-1465520.10,2931042.21,2931052.19
3,Classification,0.14,0.14,25308.90,-1475211.86,2950425.72,2950435.70
4,Walk_Status,0.00,0.00,63.36,-1486925.56,2973853.11,2973863.09

In [105]:
#r-value all stayed the same but for classification that went up to .15
hot_top_100=extend_results(df_top_100,'Total_Raised_Master', OneHotEncoder=True)
ols_regression(hot_top_100, 'Total_Raised_Master')

/Applications/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:321: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Applications/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:356: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

,Feature,R-squared,Adj. R-squared,F-statistic,Log-Likelihood,Akaike,Bayesian
1,Total_Raised_Master,1.00,1.00,417930932778393095123055570583552.00,3547004.65,-7094007.31,-7093997.33
6,result_raw,1.00,1.00,417930932778393095123055570583552.00,3547004.65,-7094007.31,-7093997.33
8,result_L2_norm,1.00,1.00,33925264941701346680134123950964736.00,3897569.68,-7795137.36,-7795127.38
9,result_minmaxscaler,1.00,1.00,5882734970787459220836153447940096.00,3757862.06,-7515722.13,-7515712.15
7,result_scaler,0.68,0.68,338152.17,-1396219.41,2792440.81,2792450.79
10,result_dummy,0.61,0.61,246698.74,-1412411.49,2824824.97,2824834.95
5,result_binary,0.42,0.42,116171.12,-1443322.46,2886646.93,2886656.91
0,Year,0.32,0.32,75201.23,-1456153.04,2912308.08,2912318.06
2,City,0.24,0.24,49190.56,-1465520.10,2931042.21,2931052.19
3,Classification,0.15,0.15,28394.28,-1473891.46,2947784.91,2947794.89
4,Walk_Status,0.00,0.00,63.36,-1486925.56,2973853.11,2973863.09

In [106]:
#r-value all stayed the same but for classification that went up to .16
hot_top_200=extend_results(df_top_200,'Total_Raised_Master', OneHotEncoder=True)
ols_regression(hot_top_200, 'Total_Raised_Master')

/Applications/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:321: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Applications/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:356: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

,Feature,R-squared,Adj. R-squared,F-statistic,Log-Likelihood,Akaike,Bayesian
1,Total_Raised_Master,1.00,1.00,417930932778393095123055570583552.00,3547004.65,-7094007.31,-7093997.33
6,result_raw,1.00,1.00,417930932778393095123055570583552.00,3547004.65,-7094007.31,-7093997.33
8,result_L2_norm,1.00,1.00,33925264941701346680134123950964736.00,3897569.68,-7795137.36,-7795127.38
9,result_minmaxscaler,1.00,1.00,5882734970787459220836153447940096.00,3757862.06,-7515722.13,-7515712.15
7,result_scaler,0.68,0.68,338152.17,-1396219.41,2792440.81,2792450.79
10,result_dummy,0.61,0.61,246698.74,-1412411.49,2824824.97,2824834.95
5,result_binary,0.42,0.42,116171.12,-1443322.46,2886646.93,2886656.91
0,Year,0.32,0.32,75201.23,-1456153.04,2912308.08,2912318.06
2,City,0.24,0.24,49190.56,-1465520.10,2931042.21,2931052.19
3,Classification,0.16,0.16,29688.46,-1473344.05,2946690.09,2946700.07
4,Walk_Status,0.00,0.00,63.36,-1486925.56,2973853.11,2973863.09